<div class="containerWrapper">
	<div class="container">
			<div class="aboutMe">
				<div class="aboutMeImage">
					<img alt="Luis Joglar Portrait" src="/assets/images/yo_sin_fondo_300.png">
				</div>
				<div class="aboutMeContent">
					<!-- <h2>
						<span>About Me</span>
					</h2> -->
					<h4>
						Hello, I’m a Doctoral Student at the Human-Environment Research Group (HER) at La Salle - Universitat Ramon Llull.
					</h4>
					<p>
						I am exploring speech processing techniques for identification of vocal biomarkers from health applications.
						Specifically, I am studying the changes induced by stress situations in the voice production system,
						describing them using the source-filter model.
						I aim at understanding how the human vocal apparatus is affected by stress and characterise the variations to
						through Glottal Source and Vocal Tract Filter features.
					</p>
					<p>
						Leveraging this knowledge, I will train explainable
						AI models essential towards achieving a system that helps users and practitioners monitor daily life stress
						from speech. In addition, this non-invasive approach may become instrumental to prevent long term exposure to
						stress and the early detection of related health events.
					</p>
				</div>
			</div>
		</div>
</div>
