<div class="containerWrapper">
	<div class="container">
			<div class="aboutMe">
				<div class="aboutMeImage">
					<img alt="Luis Joglar Portrait" src="/assets/images/avatar_yo2_transparent_2.png">
				</div>
				<div class="aboutMeContent">
					<div class="">
						<h2>
							<span>About Me</span>
						</h2>
						<h4>
							Hello, I’m a PhD Candidate at the Music Technology Group (MTG) of the Universitat Pompeu Fabra (UPF)
							and an Audio Scientist working for SonoSuite S.L., both in Barcelona.
						</h4>
						<p>
							My PhD studies are in the context of an Industrial Doctorate as a collaboration between the MTG and SonoSuite.
							I am studying applications of Music Information Research and Machine Learning techniques applied to the Digital Music Distribution Industry.
						</p>
					</div>
				</div>
			</div>
		</div>
</div>
