<div id="cookie-notice">
    <div class="container-cookie-notice">
        <div id="cookie-notice-info">
            <span>
                This page uses third party cookies to improve the functionality of this website.
            </span>
        </div>
        <div id="cookie-notice-buttons">
            <button id="cookie-notice-accept" class="button-grey">
                Accept
            </button>
            <button id="cookie-read-more" href="/privacy" class="button-grey">
                More info
            </button>
        </div>
        <div id="cookie-notice-more-info">
            <span>
                This website uses cookies from third-party services like YouTube, Vimeo, and SoundCloud to enhance the functionality of embedded content. These cookies may collect data about your interactions with the content.<br>
                For more information, please review the privacy policies of:
                <a target="_blank" href="https://policies.google.com/privacy">YouTube</a>, <a target="_blank" href="https://vimeo.com/privacy">Vimeo</a>, and <a target="_blank" href="https://soundcloud.com/pages/privacy">SoundCloud</a>.<br>
                You can opt out of these cookies by adjusting your browser settings or by disabling the embedded content.
            </span>
        </div>
    </div>
</div>
<script src="assets/js/cookies.js"></script>
