<div class="containerWrapper at-gray-bg">
	<div class="container">
		<h2 class="centerText">
			My Path
		</h2>
		<div class="main-timeline">
			{% for element in site.data.info.timeline %}
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-movie">
					</div> <!-- cd-timeline-img -->
					<div class="cd-timeline-content">
						<h2>{{ element.title }}</h2>
						<p>{{ element.info }}</p>
						<span class="cd-place">{{ element.place }}</span>
						<span class="cd-date">{{ element.time }}</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->
			{% endfor %}
		</div>
	</div>
</div>