$primary: #748BF7;
$text-color: #363738;
$text-link: #5566B7;
body{
  background: #eee;
}

.containerWrapper.publications p{
  margin: 0;
}

.containerWrapper.publications .item{
  margin: 4px 10px;
  width: 20px;
}

.blog-card__info{
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.itemContent{
  flex-grow: 2;
  max-width: 80%;
  width: 80%;
}

.date__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
  border: 4px solid;
  font-weight: bold;
  padding: 5px 10px;
  .date__day{
    font-size: 22px;
  }
}
.blog-card {
  padding: 30px;
  position: relative;
  .date__box {
    opacity: 0;
    transform: scale(0.5);
    transition: 300ms ease-in-out;
  }
  .blog-card__background,
  .card__background--layer{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .blog-card__background {
    padding: 15px;
    background: white;
  }
  .card__background--wrapper{
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
    position: relative;
    overflow: hidden;
  }
  .card__background--main{
    height: 100%;
    position: relative;
    transition: 300ms ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card__background--layer {
    z-index: 0;
    opacity: 0;
    background: rgba(#333, 0.9);
    transition: 300ms ease-in-out;
  }
  .blog-card__head {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-card__info{
    display: flex;
    z-index: 10;
    background: white;
    padding: 20px 15px;
    h5 {
      transition: 300ms ease-in-out;
    }
  }
  &:hover {
    .date__box{
      opacity: 1;
      transform: scale(1);
    }
    .card__background--main {
      transform: scale(1.2) rotate(5deg);
    }
    .card__background--layer {
      opacity: 1;
    }
    .blog-card__info{
      h5{
        color: $primary; 
      }
    }
  }
}

a.icon-link {
  color: $text-color;
  transition: 200ms ease-in-out;
  i {
    color: $primary;
  }
  &:hover {
    color: $primary;
    text-decoration: none;
    &.mr-3 {
      color: $text-link;
    }
  }
}

.itemButtons {
  .btn {
    background: white;
    color: $text-color;
    font-weight: bold;
    outline: none;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0;
    border: none;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      background: $primary;
      color: #fff;
    }
    &.btn--with-icon {
      margin-left: 5px;
      i {
        display: inline-flex;
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
      i::before {
        margin: auto;
      }
    }
    &.btn--only-icon {
      width: 50px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .itemButtons {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      flex-shrink: 3;
    .btn {
      &.btn--with-icon {
        margin: 5px;
      }
    }
  }
}

@media only screen and (max-width: 775px) {
  .itemContent {
    max-width: 70%;
  }
  .itemButtons {
    .btn {

    }
  }
}
